<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>This is a demo for my Portfolio and I hope to continue improve my knowledge in Node JS to become a FullStack developer in the future!</p>
    </div>
</section>