<div class="jumbotron mt-4">

    <h1 class="display-4">Moto App NodeJs and MongoDB</h1>
    
    <img src="/img/motoapp.png" class="motobaner" alt="">
    
    <p class="lead">
       Welcome to my MotoApp, In this app you can rent your Motorcycle if your are a Client and also you can return the Motorcycle.
    </p>

    <hr class="my-4">

    <p>This is a demo for my Portfolio and I hope to continue improve my knowledge in Node JS to become a FullStack developer in the future.</p>
    <a href="https://www.mqportfolio.com" class="btn btn-primary">Portfolio Manuel</a>
</div>